@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* @page {
    margin-top: 5mm;
    margin-bottom: 5mm;
  } */
  .no-print {
    display: none;
  }

  .specific-thead {
    display: table-header-group;
  }
}
